<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="./public/img/header.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./public/style.css">
    <title>Memy Generator</title>
</head>
<body>
    <div id="app">
        <mynav></mynav>
        <div class="container">
            <div class="row">
                <h4>Just type and download, as simple as that</h4>
            </div>

            <div class="row">
                <jumbotron
                    :title="meme.title"
                    :url="meme.url"
                    :meme-form="memeForm"
                    :atas="memeForm.topText"
                    :bawah="memeForm.bottomText"
                >
                    <!-- <canvas 
                        id="myCanvas"
                        slot="canvas"
                        style="background-color: red"
                        width="470"
                        height="280"
                    ></canvas> -->
                </jumbotron>
            </div>
            <div>
                <img :src="imgResult" alt="" srcset="">
            </div>
            <div class="row">
                <form v-on:submit.prevent="createMeme">
                    <h6>Place your text below</h6>
                    <div class="input-field">
                        <input 
                            type="text" 
                            id="autocomplete-input" 
                            v-model="memeForm.topText"
                        >
                        <label for="autocomplete-input">Top Text</label>
                    </div>
                    <div class="input-field">
                        <input 
                            type="text" 
                            id="autocomplete-input"
                            v-model="memeForm.bottomText" 
                        >
                        <label for="autocomplete-input">Bottom Text</label>
                    </div>
                
                    <button class="btn waves-effect waves-light blue-grey" type="submit" name="action"
                        @click="screenshot"
                    >Download
                        <i class="material-icons right">send</i>
                    </button>
                    <input type="file" id="file" ref="file" class="form-control-file" v-on:change="handleFileUpload">
                    <button class="btn waves-effect waves-light blue-grey" @click.prevent="upload">upload
                        <i class="material-icons right">send</i>
                    </button>
                    
                </form>
                <!-- <myform 
                    v-on:createMeme="createMeme"
                ></myform> -->
            </div>

            <div class="row">
                <div class="col s3" v-for="meme in memes">
                    <card
                        v-bind:title="meme.title"
                        v-bind:url="meme.url"
                        v-on:generate-canvas="generateCanvas"
                    ></card>
                </div>
            </div>
        </div>
    </div>

    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>        
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./assets/components/Header.js"></script>
    <script src="./assets/components/Jumbotron.js"></script>
    <script src="./assets/components/Form.js"></script>
    <script src="./assets/components/Card.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script src="./assets/js/vue.js"></script>
</body>
</html>